@import "../bootstrap.min.css";
@import "../all.min.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*header*/
.top_header {
    background-color: rgb(25, 25, 25);
    font-size: 1.2rem;
}

.top_nav__link {
    color: rgb(127, 127, 127);
    font-weight: 800;
}

.top_nav__icon {
    color: rgb(235, 235, 235);
    padding: .8rem;
    background-color: rgb(40, 83, 96);
    border-radius: 50%;
    margin-right: .5rem;
}

.bottom_header {
    background-color: rgb(250, 250, 250);
}

.reset-style {
    background-color: rgb(250, 250, 250);
    border: none;
    margin: 0;
}

.header__logo {
    height: 38px;
}

.bottom_nav__link {
    text-transform: uppercase;
    color: rgb(45, 45, 45);
    font-weight: 700;

}

.active-link {
    background-color: rgb(40, 83, 96);
}

.active-link a {
    color: rgb(250, 250, 250);
}

/*slide*/

.slide {
    /*background: не поддерживается IE*/
    background-image: url("../../img/main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 420px;
    position: relative;
}

.line_pattern {
    height: 100%;
    width: 100%;
    background-image: url("../../img/line_pattern.png");
}

.light_waves {
    background: url("../../img/white_waves_bg.png") repeat;
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/*content*/

.content {
    background: rgb(227, 227, 227);
    padding: 4rem 0;
}

.main-title {
    text-align: center;
    font-size: 3.6em;
    letter-spacing: .06em;
    font-weight: 700;
}

.andvant {
    text-align: center;
}

.main-content {
    margin-top: 4rem;
    margin-bottom: 7rem;
}

.andvant__title {
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 1.6em;
}

.andvant__image {
    height: 70px;
}

.andvant__content {
    margin-top: 4rem;
    overflow-y: auto;
}

.more-details-button {
    padding: .8em 2em;
    text-transform: uppercase;
    border-radius: .2rem;
    background-color: rgb(37, 37, 37);
    color: white;
    font-size: .9em;
    transition: .2s ease-in-out;
    margin-top: 1rem;
}

.more-details-button:hover {
    color: rgb(40, 83, 96);
    transition: .2s ease-in-out;
}

/*footer*/

.footer {
    background-color: rgb(37, 37, 37);
    position: relative;
    color: rgb(127, 127, 127);
    padding: 2rem 0;
}

.dark_waves {
    background-image: url("../../img/wave_bg.png");
    height: 20px;
    width: 100%;
    position: absolute;
    top: -20px;
}

.footer__logo {
    fill: rgb(127, 127, 127);
}

.footer__title {
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 700;
}

.footer__link {
    font-size: .82em;
    padding: .5em 1em;
    background-color: rgb(69, 69, 69);
    margin: .5rem;
    color: rgb(127, 127, 127);
    transition: .2s ease-in-out;
}

.contact__link {
    color: rgb(127, 127, 127);
    display: block;
    margin-bottom: .4em;
    transition: .2s ease-in-out;
}

.footer__icon {
    margin-right: 1.6rem;

}

.text-decoration-none:hover {
    text-decoration: none;
    transition: .2s ease-in-out;
}

.social-network-link {
    display: inline-block;
    max-width: 25%;
    height: 46px;
    width: 46px;
    cursor: pointer;
}

.vk {
    background-image: url("../../img/social_sprite.png");
    background-position: -5px -6px;
}

.twitter {
    background-image: url("../../img/social_sprite.png");
    background-position: -61px -6px;
}

.facebook {
    background-image: url("../../img/social_sprite.png");
    background-position: -117px -6px;
}

.skype {
    background-image: url("../../img/social_sprite.png");
    background-position: -173px -6px;
}

.vk:hover {
    background-image: url("../../img/social_sprite.png");
    background-position: -5px -62px;
}

.twitter:hover {
    background-image: url("../../img/social_sprite.png");
    background-position: -61px -62px;
}

.facebook:hover {
    background-image: url("../../img/social_sprite.png");
    background-position: -117px -62px;
}

.skype:hover {
    background-image: url("../../img/social_sprite.png");
    background-position: -173px -62px;
}

/*Блог*/
.blog__item {
    background-color: white;
    padding: 4rem;
    box-shadow: 1px 1px 1px #beb5b5;
    margin-bottom: 3rem;
}

.blog__date {
    background-color: rgb(37, 37, 37);
    display: inline-block;
    color: white;
    font-size: 1.3rem;
    font-weight: 800;
    padding: 0.2em 1em;
    max-width: 30%;
}

.date-number {
    text-align: center;
    font-size: 2.2em;
}

.date-month {
    text-transform: uppercase;
}

.blog__hr {
    margin-top: 0;
}

.blog__title {
    display: inline-block;
    margin-bottom: 0;
    text-transform: uppercase;
    max-width: 70%;
    padding-left: 1rem;
}

.blog__image_left {
    margin: 0 3rem 2rem 0;
    width: 285px;
}

.blog__image_top {
    width: 100%;
    margin-bottom: 2rem;
}

/*sidebar*/

.sidebar {
    background-color: white;
    box-shadow: 1px 1px 1px #beb5b5;
    margin-bottom: 30px;
}

.sidebar__container {
    padding: 3rem 2rem;
}

.sidebar__container_category {
    padding: 3rem 0;
}

.sidebar__title {
    text-transform: uppercase;
    font-size: 1.35em;
    font-weight: 700;
}

.sidebar__title_category {
    padding: 0 2rem;
}

.sidebar__link {
    font-size: .82em;
    padding: .5em 1em;
    background-color: rgb(247, 247, 247);
    margin: .5rem;
    color: rgb(150, 150, 150);
    transition: .2s ease-in-out;
}

.sidebar-nav .sidebar-nav__link {
    padding: 1.5rem 2rem;
}

.sidebar-nav__link {
    color: black;
    transition: .2s ease-in-out;
}

.link-arrow {
    margin-right: 1.3rem;
    transition: .2s ease-in-out;
}

.link-text {
    display: inline-block;
    transition: .2s ease-in-out;
}

.padding-0 {
    padding: 0;
}

.active-sidebar-link .link-text,
.active-sidebar-link .link-arrow {
    transform: translateX(20px);
}

.sidebar-nav__item:hover .sidebar-nav__link {
    background-color: #285360;
}


.sidebar-nav__item:hover .link-arrow {
    transform: translateX(20px);
    transition: .2s ease-in-out;
    color: white;
}

.sidebar-nav__item:hover .link-text {
    transform: translateX(20px);
    transition: .2s ease-in-out;
    color: white;
}

/*about*/

.purpose-block {
    margin-bottom: 2rem;
    padding-left: 5.5rem;
    position: relative;
}

.purpose__title {
    font-size: 1.7rem;
    margin: .4em 0;
}

.title__icon {
    color: white;
    background-color: rgb(37, 37, 37);
    padding: 1rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.title__text {
    font-weight: 700;
    letter-spacing: .03em;

}

.purpose__content {

}

.person-card {
    background-image: url("../../img/about/wood_pattern.jpg");
    text-align: center;
    box-shadow: 1px 1px 1px grey;
    padding: 0;
    margin-top: 4rem;
}

.person__photo {
    width: 100%;
    padding: 3rem 3rem 2rem 3rem;
}

.person__name {
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 700;
}

.person__position {
    text-transform: uppercase;
    color: rgb(128, 128, 128);
    font-size: .9em;
}

.person__hr {
    margin: 1rem 0;
}

.person__info {
    text-align: left;
    height: 180px;
    padding: 1rem 2.5rem;
    overflow-y: auto;
}

.social-network {
    padding: .5rem;
}

.person-social {
    background-color: rgb(37, 37, 37);
    border-radius: 50%;
    height: 36px;
    line-height: 44px;
    width: 36px;
    display: inline-block;
    text-align: center;
    margin: 0 .5rem 2rem;
    transition: .2s ease-in-out;
}

.person-social:hover {
    transition: .2s ease-in-out;
    transform: translateY(-6px);
    background-color: #285360;
}

.person__social-link {
    font-size: 2rem;
    display: inline-block;
    color: white;
}


@media (min-width: 992px) {
    .andvant__content {
        height: 120px;
    }
}

@media (max-width: 768px) {
    .title__icon {
        left: 7px;
        top: -7px;
    }
}

@media (max-width: 992px) {
    .slide {
        height: 210px;
    }

}
